# Visual Studio 2015/2017 cache/options directory
*.vs
*.ipch
Game Engine/.vs/Game Engine/v16/ipch/AutoPCH/50ac001b3c300162/MAIN.ipch
Game Engine/.vs/Game Engine/v16/ipch/AutoPCH/4ad4f26cb0d240ff/GAMEENGINE.ipch
Game Engine/.vs/Game Engine/v16/ipch/AutoPCH/50ac001b3c300162/MAIN.ipch
Game Engine/.vs/Game Engine/v16/ipch/AutoPCH/4ad4f26cb0d240ff/GAMEENGINE.ipch
